services:
  nginx:
    container_name: nginx
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - wordpress
      - phpmyadmin
    networks:
      - app-network

  wordpress:
    container_name: ini_wordpress
    image: wordpress:latest
    restart: always
    environment:
      WORDPRESS_DB_HOST: ${DB_HOST}:${DB_PORT}
      WORDPRESS_DB_USER: ${DB_USERNAME}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_DB_NAME: ${DB_DATABASE}
    volumes:
      - wp_data:/var/www/html
    networks:
      - app-network

  phpmyadmin:
    container_name: ini_phpmyadmin
    image: phpmyadmin:latest
    restart: always
    environment:
      PMA_HOST: ${DB_HOST}
      PMA_PORT: 3306
      PMA_ABSOLUTE_URI: "${APP_URL}/pma/"
    networks:
      - app-network

volumes:
  wp_data:
  db_data:

networks:
  app-network:
    driver: bridge
